<p>boxes twig</p>

{{ post.box_text }}
{{ post.box_title }}
<hr />
{# {{ dump(post.box_repeater)}} #}
{% set boxes = post.meta('box_repeater') %} 
  {% for box in boxes %}
    <p><strong>Title:</strong> {{ box.box_title }}</p>
    <p><strong>Text:</strong> {{ box.box_text }}</p>
  {% endfor %}



