<div class="hp-boxes-container">
{% set boxes = post.meta('box_repeater') %} 
  {% for box in boxes %}
  <div class="hp-box-wrap"><div class="hp-box">
  {# {{ dump(box)}} #}
    <div class="hp-image-container">
      <img src="{{ box.image_boxed.url }}" class="hp-thumb-class" alt="{{ box.box_title }}" />
    </div>
    <a class="button" href="{{ box.link.url }}">{{ box.box_title }}</a>
    <div class="hp-box-text">{{ box.box_text_area }}</div>
    </div></div>
  {% endfor %}


</div>

<hr />
{# {{ dump(boxes)}} #}




